<!DOCTYPE html>
<html>
<style>

    .all-divs {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    label>input[type="radio"] {
        display: none;
    }

    label>input[type="radio"]+*::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 1rem;
        height: 1rem;
        margin-right: 0.3rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 0.1rem;
        border-color: gray;
    }

    label>input[type="radio"]:checked+*::before {
        background: radial-gradient(rgb(209, 85, 102) 0%, rgb(209, 85, 102) 40%, transparent 50%, transparent);
        border-color: rgb(209, 85, 102);
    }

    label>input[type="radio"]:checked+* {
        color: rgb(209, 85, 102);
    }

    fieldset {
        margin: 20px;
        max-width: 400px;
    }

    label>input[type="radio"]+* {
        display: inline-block;
        padding: 0.5rem 1rem;
    }

    .resultTable {
        border: 5px;
        border-color: rgb(220, 148, 158);
        border-style: ridge;
    }


    #pieChartContainer {
        align-items: center;
    }

    #pieChart {
        background: conic-gradient(brown 0.00%, black 0.00% 0.55%, blue 0.55% 6.08%, green 6.08% 13.68%, yellow 13.68% 23.27%, orange 23.27% 40.47%, red 40.47%);
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    #legenda {
        margin-left: 20px;
        background-color: white;
        padding: 5px;
    }

    .entry {
        display: flex;
        align-items: center;
    }

    .entry-color {
        height: 10px;
        width: 10px;
    }

    .entry-text {
        margin-left: 5px;
    }

    #color-red {
        background-color: red;
    }

    #color-orange {
        background-color: orange;
    }

    #color-yellow {
        background-color: yellow;
    }

    #color-green {
        background-color: green;
    }

    #color-blue {
        background-color: blue;
    }

    #color-black {
        background-color: black;
    }

    #color-brown {
        background-color: brown;
    }

    .column table.resultTable {
        margin-left: auto;
        margin-top: 10px;
        display: inline-table;
    }

    .column table.graph {
        float: right;
    }
</style>

<head>
    <title>Wine Club</title>
</head>

<body>
    <div class="container">
        <br>
        <h1 style="color:rgb(242, 171, 147);text-align:center">Wine Club</h1>
        <hr>

        <br>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Forms -->
        <div class="all-divs">
            <ul class="nav nav-tabs" role="tablist"
                style="align-items: center;align-content: center;text-align: center;">
                <li class="nav-item">
                    <a class="nav-link active" href="#predictQuality" aria-controls="predictQuality" role="tab"
                        data-bs-toggle="tab" data-toggle="tab" style="color: rgb(209, 85, 102);">Predict Wine
                        Quality</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#enterQualityInfo" aria-controls="enterQualityInfo" role="tab"
                        data-bs-toggle="tab" data-toggle="tab" style="color: rgb(209, 85, 102);">Contribute
                        Information</a>
                </li>
            </ul>
        </div>

        {% if (results) %}
        <hr>
        {% if (is_predict_quality) %}
        <h6>{{results}} </h6>

        <p style="text-align: center; font-size: 40px;">Your wine has a quality of <mark
                style="color: rgb(209, 85, 102); background-color: white;">{{ results["qualityScore"] }} </mark><mark
                style="font-size: 30px; background-color: white;">(out of 10)</mark></p>
        <p style="text-align: center; font-size: 23px;">This ranks it in the <mark
                style="color: rgb(229, 181, 92); background-color: white;"><strong>{{ (results["qualityRank"]*100) | int
                    }}{% if ((((results["qualityRank"]*100) |
                    int) | string) | last) == '1' %}st
                    {% elif ((((results["qualityRank"]*100) | int) | string) | last) == '2' %}nd
                    {% elif ((((results["qualityRank"]*100) | int) | string) | last) == '3' %}rd
                    {% else %}th
                    {% endif %}</mark>
            </strong> percentile.</p>
        <div class="column">
            <table class="resultTable" style="text-align: center; width: 300px;">
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Fixed acidity</th>
                    <td>{{ fixedAcidity }}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Volatile acidity</th>
                    <td> {{ volatileAcidity }}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Citric acid</th>
                    <td> {{ citricAcid }}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Free sulfur dioxide</th>
                    <td> {{ freeSulfurDioxide }}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Total sulfur dioxide</th>
                    <td> {{ totalSulfurDioxide }}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Sulfates</th>
                    <td> {{ sulfates }}</td>
                </tr>
                <tr style="height: 50px;">
                    <td style="width: 3px;"></td>
                    <th style="width: 190px;"> Alcohol</th>
                    <td> {{ alcohol }}</td>
                </tr>
            </table>
            <table class="graph">
                <div id="pieChartContainer">
                    <div id="pieChart"></div>
                    <div id="legenda">
                        <div class="entry">
                            <div id="color-brown" class="entry-color"></div>
                            <div class="entry-text">Fixed acidity</div>
                        </div>
                        <div class="entry">
                            <div id="color-black" class="entry-color"></div>
                            <div class="entry-text">Volatile acidity</div>
                        </div>
                        <div class="entry">
                            <div id="color-blue" class="entry-color"></div>
                            <div class="entry-text">Citric acid</div>
                        </div>
                        <div class="entry">
                            <div id="color-green" class="entry-color"></div>
                            <div class="entry-text">Free sulfer dioxide</div>
                        </div>
                        <div class="entry">
                            <div id="color-yellow" class="entry-color"></div>
                            <div class="entry-text">Total sulfer dioxide</div>
                        </div>
                        <div class="entry">
                            <div id="color-orange" class="entry-color"></div>
                            <div class="entry-text">Sulfates</div>
                        </div>
                        <div class="entry">
                            <div id="color-red" class="entry-color"></div>
                            <div class="entry-text">Alcohol</div>
                        </div>
                    </div>
                </div>
            </table>
        </div>
    </div>
    </div>
    <br>
    {% else %}
    <h3>{{ results }}</h3>
    {% endif %}
    <hr>
    {% endif %}

    <div class="tab-content">
        <br>
        <h6 style="text-align: center; color: rgb(160, 147, 149);">Enter -1 for a field which you lack data for.
        </h6>
        <br>
        <div role="tabpanel" class="container tab-pane active" id="predictQuality">
            <form action="{{ url_for('predictQuality') }}" method="POST">
                <table>
                    <th style="width: 300px; text-align: center;">
                        <label for="fixedAcidity" class="form-label" style="text-align: center;">Fixed
                            acidity</label>
                        <input id="fixedAcidity" class="form-control" name="fixedAcidity" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="volatileAcidity" class="form-label">Volatile acidity</label>
                        <input id="volatileAcidity" class="form-control" name="volatileAcidity" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="citricAcid" class="form-label">Citric acid</label>
                        <input id="citricAcid" class="form-control" name="citricAcid" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="freeSulfurDioxide" class="form-label">Free sulfur dioxide</label>
                        <input id="freeSulfurDioxide" class="form-control" name="freeSulfurDioxide" type="number"
                            min="-1" max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                </table>
                <table>
                    <th style="width: 300px; text-align: center;">
                        <label for="totalSulfurDioxide" class="form-label">Total sulfur dioxide</label>
                        <input id="totalSulfurDioxide" class="form-control" name="totalSulfurDioxide" type="number"
                            min="-1" max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="sulfates" class="form-label">Sulfates</label>
                        <input id="sulfates" class="form-control" name="sulfates" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="alcohol" class="form-label">Alcohol</label>
                        <input id="alcohol" class="form-control" name="alcohol" type="number" min="-1" max="100"
                            placeholder="0-100 (example: 67)" value="-1">
                    </th>
                </table>
                <br>
                <div class="all-divs">
                    <fieldset>
                        <div class="form-check">
                            <label>
                                <input id="red" class="form-check-input" name="wineType" type="radio" value="red"
                                    checked></inputid>
                                <span>Red</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input id="white" class="form-check-input" name="wineType" type="radio" value="white"
                                    checked></inputid>
                                <span>White</span>
                            </label>
                        </div>
                    </fieldset>
                    <br>
                    <div class="submit-button">
                        <button style="background-color: rgb(209, 85, 102); border: 0cm; width: 200px;" type="submit"
                            class="btn btn-primary">Get Prediction</button>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="container tab-pane" id="enterQualityInfo">
            <form action="{{ url_for('enterQualityInfo') }}" method="POST">
                <table>
                    <th style="width: 300px; text-align: center;">
                        <label for="fixedAcidity" class="form-label">Fixed acidity</label>
                        <input id="fixedAcidity" class="form-control" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="volatileAcidity" class="form-label">Volatile acidity</label>
                        <input id="volatileAcidity" class="form-control" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="citricAcid" class="form-label">Citric acid</label>
                        <input id="citricAcid" class="form-control" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="freeSulfurDioxide" class="form-label">Free sulfur dioxide</label>
                        <input id="freeSulfurDioxide" class="form-control" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                </table>
                <table>
                    <th style="width: 300px; text-align: center;">
                        <label for="totalSulfurDioxide" class="form-label">Total sulfur dioxide</label>
                        <input id="totalSulfurDioxide" class="form-control" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="sulfates" class="form-label">Sulfates</label>
                        <input id="sulfates" class="form-control" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="alcohol" class="form-label">Alcohol</label>
                        <input id="alcohol" class="form-control" type="number" min="-1" max="100"
                            placeholder="0-100 (example: 67)" value="-1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="quality" class="form-label">Quality</label>
                        <input id="quality" class="form-control" type="number" min="0" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" step="0.1" required>
                    </th>
                </table>
                <br>
                <div class="all-divs">
                    <fieldset>
                        <div class="form-check">
                            <label>
                                <input id="red" class="form-check-input" name="wineType" type="radio" value="red"
                                    checked></inputid>
                                <span>Red</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input id="white" class="form-check-input" name="wineType" type="radio" value="white"
                                    checked></inputid>
                                <span>White</span>
                            </label>
                        </div>
                    </fieldset>
                    <br>
                    <div class="submit-button">
                        <button style="background-color: rgb(209, 85, 102); border: 0cm; width: 200px;" type="submit"
                            class="btn btn-primary">Submit Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

</body>

</html>