<!DOCTYPE html>
<html>
<style>
    .all-divs {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        border: solid 1px black;
        width: 100%;
        height: 1px;
        margin: auto;

    }

    .radioButton {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .radioButton input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .radioButton:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .radioButton input:checked~.checkmark {
        background-color: rgb(209, 85, 102);
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radioButton input:checked~.checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radioButton .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

    .resultTable {
        border: 5px;
        border-color: rgb(242, 171, 147);
        border-style: ridge;
    }

    .column table.resultTable {
        align-items: center;
        display: inline-table;
    }

    .column {
        align-items: center;
        text-align: center;
        float: left;
        width: 50%;
        padding: 10px;
    }

    table.inputTable {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<script>
    function toggleFields(toggleOn, toggleOff) {
        document.getElementById(toggleOn).style.display = "table-cell";
        document.getElementById(toggleOff).style.display = "none";
    }
</script>

<head>
    <title>Wine Club</title>
</head>

<body>
    <div class="container" style="width: 100%;">
        <br>
        <h1 style="color:rgb(242, 171, 147);text-align:center">Wine Club</h1>
        <hr>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </div>

    {% if (results) %}
    {% if (is_predict_quality) %}
    <p style="text-align: center; font-size: 40px;">Your wine has a quality of <mark
            style="color: rgb(209, 85, 102); background-color: white;">{{ results["qualityScore"] }} </mark>
        <mark style="font-size: 30px; background-color: white;">(out of 10)</mark>
    </p>
    <p style="text-align: center; font-size: 26px;">This ranks it in the <mark
            style="color: rgb(233, 175, 128); background-color: white;">
            <strong>{{ (results["qualityRank"]*100) | int
                }}{% if ((((results["qualityRank"]*100) |
                int) | string) | last) == '1' %}st
                {% elif ((((results["qualityRank"]*100) | int) | string) | last) == '2' %}nd
                {% elif ((((results["qualityRank"]*100) | int) | string) | last) == '3' %}rd
                {% else %}th
                {% endif %}</mark>
        </strong> percentile.</p>

    <div class="column">
        <table>
            <div id="stackBarChart"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                var zero = '{{results["allQualityScoresFreq"]["0.0"]}}';
                var one = '{{results["allQualityScoresFreq"]["1.0"]}}';
                var two = '{{results["allQualityScoresFreq"]["2.0"]}}';
                var three = '{{results["allQualityScoresFreq"]["3.0"]}}';
                var four = '{{results["allQualityScoresFreq"]["4.0"]}}';
                var five = '{{results["allQualityScoresFreq"]["5.0"]}}';
                var six = '{{results["allQualityScoresFreq"]["6.0"]}}';
                var seven = '{{results["allQualityScoresFreq"]["7.0"]}}';
                var eight = '{{results["allQualityScoresFreq"]["8.0"]}}';
                var nine = '{{results["allQualityScoresFreq"]["9.0"]}}';
                var ten = '{{results["allQualityScoresFreq"]["10.0"]}}';

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Quality', '0.0', '1.0', '2.0', '3.0', '4.0',
                            '5.0', '6.0', '7.0', '8.0', '9.0', '10.0'],
                        ['Frequency', parseInt(zero), parseInt(one), parseInt(two), parseInt(three),
                            parseInt(four), parseInt(five), parseInt(six), parseInt(seven), parseInt(eight), parseInt(nine), parseInt(ten)]
                    ]);

                    var optionsRed = {
                        title: 'Percentage distribution of quality (Red Wine)',
                        legend: { position: 'none' },
                        isStacked: 'percent',
                        colors: ['#ffc799', '#fab492', '#f6a48d', '#eb777d', '#e86a79', '#cc4f68', '#b13f5a', '#942e4b', '#741b3b', '#6c1637', '#470024'],
                        hAxis: {
                            minValue: 0,
                            ticks: [0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1]
                        },
                        height: 200,
                        width: 700,
                    };

                    var optionsWhite = {
                        title: 'Percentage distribution of quality (White Wine)',
                        legend: { position: 'none' },
                        isStacked: 'percent',
                        colors: ['#ffc799', '#fab492', '#f6a48d', '#eb777d', '#e86a79', '#cc4f68', '#b13f5a', '#942e4b', '#741b3b', '#6c1637', '#470024'],
                        hAxis: {
                            minValue: 0,
                            ticks: [0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1]
                        },
                        height: 200,
                        width: 700,
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('stackBarChart'));
                    if ('{{info["wineType"]}}' == 'red') {
                        chart.draw(data, optionsRed);
                        drawVAxisLine(chart, parseFloat('{{results["qualityRank"]}}'));
                    } else {
                        chart.draw(data, optionsWhite);
                        drawVAxisLine(chart, parseFloat('{{results["qualityRank"]}}'));
                    }

                }

                function drawVAxisLine(chart, value) {
                    var layout = chart.getChartLayoutInterface();
                    var chartArea = layout.getChartAreaBoundingBox();
                    var svg = chart.getContainer().getElementsByTagName('svg')[0];
                    var xLoc = layout.getXLocation(value)
                    svg.appendChild(createLine(xLoc, chartArea.top + chartArea.height, xLoc, chartArea.top, '#e9af80', 3)); // axis line 
                }

                function createLine(x1, y1, x2, y2, color, w) {
                    var line = document.createElementNS('http://www.w3.org/2000/svg', 'line');
                    line.setAttribute('x1', x1);
                    line.setAttribute('y1', y1);
                    line.setAttribute('x2', x2);
                    line.setAttribute('y2', y2);
                    line.setAttribute('stroke', color);
                    line.setAttribute('stroke-width', w);
                    return line;
                }
            </script>
        </table>
    </div>

    <div class="column">
        <table>
            <div id="barChart"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script>
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                var zero = '{{results["allQualityScoresFreq"]["0.0"]}}';
                var one = '{{results["allQualityScoresFreq"]["1.0"]}}';
                var two = '{{results["allQualityScoresFreq"]["2.0"]}}';
                var three = '{{results["allQualityScoresFreq"]["3.0"]}}';
                var four = '{{results["allQualityScoresFreq"]["4.0"]}}';
                var five = '{{results["allQualityScoresFreq"]["5.0"]}}';
                var six = '{{results["allQualityScoresFreq"]["6.0"]}}';
                var seven = '{{results["allQualityScoresFreq"]["7.0"]}}';
                var eight = '{{results["allQualityScoresFreq"]["8.0"]}}';
                var nine = '{{results["allQualityScoresFreq"]["9.0"]}}';
                var ten = '{{results["allQualityScoresFreq"]["10.0"]}}';

                const array = [parseInt(zero), parseInt(one), parseInt(two), parseInt(three), parseInt(four), parseInt(five), parseInt(six), parseInt(seven), parseInt(eight), parseInt(nine), parseInt(ten)];
                let sum = 0;
                for (let i = 0; i < array.length; i++) {
                    if (isNaN(array[i])) {
                        array[i] = 0.0;
                    }
                    sum += array[i];
                }

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Quality', 'Frequency', { role: 'annotation' }, {role: 'style'}],
                        ['0.0', parseInt(zero), zero + ' ( ' + (parseFloat((parseInt(array[0]) / sum)) * 100).toFixed(2) + '% )', '#ffc799'],
                        ['1.0', parseInt(one), one + ' ( ' + (parseFloat((parseInt(array[1]) / sum)) * 100).toFixed(2) + '% )', '#fab492'],
                        ['2.0', parseInt(two), two + ' ( ' + (parseFloat((parseInt(array[2]) / sum)) * 100).toFixed(2) + '% )', '#f6a48d'],
                        ['3.0', parseInt(three), three + ' ( ' + (parseFloat((parseInt(array[3]) / sum)) * 100).toFixed(2) + '% )', '#eb777d'],
                        ['4.0', parseInt(four), four + ' ( ' + (parseFloat((parseInt(array[4]) / sum)) * 100).toFixed(2) + '% )', '#e86a79'],
                        ['5.0', parseInt(five), five + ' ( ' + (parseFloat((parseInt(array[5]) / sum)) * 100).toFixed(2) + '% )', '#cc4f68'],
                        ['6.0', parseInt(six), six + ' ( ' + (parseFloat((parseInt(array[6]) / sum)) * 100).toFixed(2) + '% )', '#b13f5a'],
                        ['7.0', parseInt(seven), seven + ' ( ' + (parseFloat((parseInt(array[7]) / sum)) * 100).toFixed(2) + '% )', '#942e4b'],
                        ['8.0', parseInt(eight), eight + ' ( ' + (parseFloat((parseInt(array[8]) / sum)) * 100).toFixed(2) + '% )', '#741b3b'],
                        ['9.0', parseInt(nine), nine + ' ( ' + (parseFloat((parseInt(array[9]) / sum)) * 100).toFixed(2) + '% )', '#6c1637'],
                        ['10.0', parseInt(ten), ten + ' ( ' + (parseFloat((parseInt(array[10]) / sum)) * 100).toFixed(2) + '% )', '#470024']
                    ]);

                    var optionsRed = {
                        title: 'Quality Score Distributions (Red Wine)',
                       
                        legend: { position: 'none' },
                        width: 500,
                        height: 300
                    };

                    var optionsWhite = {
                        title: 'Quality Score Distributions (White Wine)',
                        
                        legend: { position: 'none' },
                        width: 500,
                        height: 300
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('barChart'));
                    if ('{{info["wineType"]}}' == 'red') {
                        chart.draw(data, optionsRed);
                    } else {
                        chart.draw(data, optionsWhite);
                    }
                }
            </script>
        </table>
    </div>

    <div class="column">
        <table class="resultTable" style="text-align: center; width: 300px;">
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                <th style="width: 190px; color: #470024"> Fixed acidity</th>
                <td>{{ info["fixedAcidity"] }}</td>
            </tr>
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                <th style="width: 190px; color: #741b3b"> Volatile acidity</th>
                <td> {{ info["volatileAcidity"] }}</td>
            </tr>
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                {% if info["wineType"] == 'red' %}
                <th style="width: 190px; color: #b13f5a"> Citric acid</th>
                <td> {{ info["citricAcid"] }} </td>
                {% else %}
                <th style="width: 190px; color: #b13f5a"> Residual Sugar</th>
                <td> {{ info["residualSugar"] }} </td>
                {% endif %}
            </tr>
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                <th style="width: 190px; color: #e45d74"> Free sulfur dioxide</th>
                <td> {{ info["freeSulfurDioxide"] }}</td>
            </tr>
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                <th style="width: 190px; color: #eb777d"> Total sulfur dioxide</th>
                <td> {{ info["totalSulfurDioxide"] }}</td>
            </tr>
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                {% if info["wineType"] == 'red' %}
                <th style="width: 190px; color: #f7a68e"> Sulfates</th>
                <td> {{ info["sulfates"] }}</td>
                {% else %}
                <th style="width: 190px; color: #f7a68e"> Chlorides</th>
                <td> {{ info["chlorides"] }}</td>
                {% endif %}
            </tr>
            <tr style="height: 50px;">
                <td style="width: 3px;"></td>
                <th style="width: 190px; color: #ffc799"> Alcohol</th>
                <td> {{ info["alcohol"] }}</td>
            </tr>
        </table>
    </div>

    <div class="column">
        <table>
            <div id="piechart"></div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                // Load google charts
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

                var fixed = '{{results["featureImportance"][0]*100}}';
                var volatile = '{{results["featureImportance"][1]*100}}';
                var citricOrSugar = '{{results["featureImportance"][2]*100}}';
                var dioxideOrChloride = '{{results["featureImportance"][3]*100}}';
                var totalDioxideOrDioxide = '{{results["featureImportance"][4]*100}}';
                var sulfateOrTotalDioxide = '{{results["featureImportance"][5]*100}}';
                var alc = '{{results["featureImportance"][6]*100}}';

                // Draw the chart and set the chart values
                function drawChart() {
                    var dataRed = google.visualization.arrayToDataTable([
                        ['Feature Importance', 'Percentage'],
                        ['Fixed Acidity', parseFloat(fixed)],
                        ['Volatile Acidity', parseFloat(volatile)],
                        ['Citric acid', parseFloat(citricOrSugar)],
                        ['Free sulfer dioxide', parseFloat(dioxideOrChloride)],
                        ['Total sulfer dioxode', parseFloat(totalDioxideOrDioxide)],
                        ['Sulfates', parseFloat(sulfateOrTotalDioxide)],
                        ['Alcohol', parseFloat(alc)]
                    ]);

                    var dataWhite = google.visualization.arrayToDataTable([
                        ['Feature Importance', 'Percentage'],
                        ['Fixed Acidity', parseFloat(fixed)],
                        ['Volatile Acidity', parseFloat(volatile)],
                        ['Residual Sugar', parseFloat(citricOrSugar)],
                        ['Chlorides', parseFloat(dioxideOrChloride)],
                        ['Free sulfer dioxode', parseFloat(totalDioxideOrDioxide)],
                        ['Total sulfer dioxode', parseFloat(sulfateOrTotalDioxide)],
                        ['Alcohol', parseFloat(alc)]
                    ]);
                    // Optional; add a title and set the width and height of the chart
                    var options = {
                        'title': 'Feature Importance for Wine Quality', 'width': 600, 'height': 400,
                        'colors': ['#470024', '#741b3b', '#b13f5a', '#e45d74', '#eb777d', '#f7a68e', '#ffc799'], 'is3D': true,
                        chartArea: { width: '100%' }, 'legend': {
                            'maxLines': 1,
                            'textStyle': {
                                'fontSize': 15
                            }
                        },
                        width: 600,
                        height: 400
                    };

                    // Display the chart inside the <div> element with id="piechart"
                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    if ('{{info["wineType"]}}' == 'red') {
                        chart.draw(dataRed, options);
                    } else {
                        chart.draw(dataWhite, options);
                    }

                }
            </script>
        </table>
    </div>



    {% else %}
    <h3 style="text-align: center;">{{ results }}</h3>
    {% endif %}
    <hr>
    {% endif %}
    <br>
    <div class="container">
        <!-- Forms -->
        <div class="all-divs">
            <ul class="nav nav-tabs" role="tablist"
                style="align-items: center;align-content: center;text-align: center;">
                <li class="nav-item">
                    <a class="nav-link active" href="#predictQuality" aria-controls="predictQuality" role="tab"
                        data-bs-toggle="tab" data-toggle="tab" style="color: rgb(209, 85, 102);">Predict Wine
                        Quality</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#enterQualityInfo" aria-controls="enterQualityInfo" role="tab"
                        data-bs-toggle="tab" data-toggle="tab" style="color: rgb(209, 85, 102);">Contribute
                        Information</a>
                </li>
            </ul>
        </div>
        <br>
    </div>
    <div class="tab-content">
        <h6 style="text-align: center; color: rgb(160, 147, 149);">Enter -1 for a field which you lack data for.
        </h6>
        <br>
        <div role="tabpanel" class="container tab-pane active" id="predictQuality">
            <form action="{{ url_for('predictQuality') }}" method="POST">
                <table class="inputTable">
                    <th style="width: 300px; text-align: center;">
                        <label for="fixedAcidity" class="form-label" style="text-align: center;">Fixed
                            acidity</label>
                        <input id="fixedAcidity" class="form-control" name="fixedAcidity" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="volatileAcidity" class="form-label">Volatile acidity</label>
                        <input id="volatileAcidity" class="form-control" name="volatileAcidity" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="citricAcid-toggle" style="width: 300px; text-align: center;">
                        <label for="citricAcid" class="form-label">Citric acid</label>
                        <input id="citricAcid" class="form-control" name="citricAcid" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="residualSugar-toggle" style="width: 300px; text-align: center; display: none;">
                        <label for="residualSugar" class="form-label">Residual sugar</label>
                        <input id="residualSugar" class="form-control" name="residualSugar" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="freeSulfurDioxide" class="form-label">Free sulfur dioxide</label>
                        <input id="freeSulfurDioxide" class="form-control" name="freeSulfurDioxide" type="number"
                            min="-1" max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                </table>
                <table class="inputTable">
                    <th style="width: 300px; text-align: center;">
                        <label for="totalSulfurDioxide" class="form-label">Total sulfur dioxide</label>
                        <input id="totalSulfurDioxide" class="form-control" name="totalSulfurDioxide" type="number"
                            min="-1" max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="sulfates-toggle" style="width: 300px; text-align: center;">
                        <label for="sulfates" class="form-label">Sulfates</label>
                        <input id="sulfates" class="form-control" name="sulfates" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="chlorides-toggle" style="width: 300px; text-align: center; display: none;">
                        <label for="chlorides" class="form-label">Chlorides</label>
                        <input id="chlorides" class="form-control" name="chlorides" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="alcohol" class="form-label">Alcohol</label>
                        <input id="alcohol" class="form-control" name="alcohol" type="number" min="-1" max="100"
                            placeholder="0-100 (example: 67)" value="-1">
                    </th>
                    <th style="width: 300px; text-align: center;"></th>
                </table>
                <br>
                <div class="all-divs">
                    <label class="radioButton"
                        onclick="toggleFields('sulfates-toggle', 'chlorides-toggle'); toggleFields('citricAcid-toggle', 'residualSugar-toggle');">Red
                        <input id="red" class="form-check-input" name="wineType" type="radio" value="red"
                            checked="checked">
                        </inputid>
                        <span class="checkmark"></span>
                    </label>

                    <label class="radioButton"
                        onclick="toggleFields('chlorides-toggle', 'sulfates-toggle'); toggleFields('residualSugar-toggle', 'citricAcid-toggle');">White
                        <input id="white" class="form-check-input" name="wineType" type="radio" value="white">
                        </inputid>
                        <span class="checkmark"></span>
                    </label>
                    <div class="submit-button">
                        <button style="background-color: rgb(209, 85, 102); border: 0cm; width: 200px;" type="submit"
                            class="btn btn-primary">Get Prediction</button>
                    </div>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="container tab-pane" id="enterQualityInfo">
            <form action="{{ url_for('enterQualityInfo') }}" method="POST">
                <table class="inputTable">
                    <th style="width: 300px; text-align: center;">
                        <label for="fixedAcidity" class="form-label">Fixed acidity</label>
                        <input id="fixedAcidity" class="form-control" name="fixedAcidity" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="volatileAcidity" class="form-label">Volatile acidity</label>
                        <input id="volatileAcidity" class="form-control" name="volatileAcidity" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="citricAcid-toggle2" style="width: 300px; text-align: center;">
                        <label for="citricAcid" class="form-label">Citric acid</label>
                        <input id="citricAcid" class="form-control" name="citricAcid" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="residualSugar-toggle2" style="width: 300px; text-align: center; display: none;">
                        <label for="residualSugar" class="form-label">Residual sugar</label>
                        <input id="residualSugar" class="form-control" name="residualSugar" type="number" min="-1"
                            max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="freeSulfurDioxide" class="form-label">Free sulfur dioxide</label>
                        <input id="freeSulfurDioxide" class="form-control" name="freeSulfurDioxide" type="number"
                            min="-1" max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                </table>
                <table class="inputTable">
                    <th style="width: 300px; text-align: center;">
                        <label for="totalSulfurDioxide" class="form-label">Total sulfur dioxide</label>
                        <input id="totalSulfurDioxide" class="form-control" name="totalSulfurDioxide" type="number"
                            min="-1" max="10.0" placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="sulfates-toggle2" style="width: 300px; text-align: center;">
                        <label for="sulfates" class="form-label">Sulfates</label>
                        <input id="sulfates" class="form-control" name="sulfates" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th id="chlorides-toggle2" style="width: 300px; text-align: center; display: none;">
                        <label for="chlorides" class="form-label">Chlorides</label>
                        <input id="chlorides" class="form-control" name="chlorides" type="number" min="-1" max="10.0"
                            placeholder="0.0-10.0 (example: 5.5)" value="-1" step="0.1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="alcohol" class="form-label">Alcohol</label>
                        <input id="alcohol" class="form-control" name="alcohol" type="number" min="-1" max="100"
                            placeholder="0-100 (example: 67)" value="-1">
                    </th>
                    <th style="width: 300px; text-align: center;">
                        <label for="quality" class="form-label">Quality</label>
                        <input id="quality" class="form-control" name="quality" type="number" min="0" max="10"
                            placeholder="0-10 (example: 5)" step="1" required>
                    </th>
                </table>
                <br>
                <div class="all-divs">
                    <label class="radioButton"
                        onclick="toggleFields('sulfates-toggle2', 'chlorides-toggle2'); toggleFields('citricAcid-toggle2', 'residualSugar-toggle2');">Red
                        <input id="red" class="form-check-input" name="wineType" type="radio" value="red"
                            checked="checked">
                        </inputid>
                        <span class="checkmark"></span>
                    </label>

                    <label class="radioButton"
                        onclick="toggleFields('chlorides-toggle2', 'sulfates-toggle2'); toggleFields('residualSugar-toggle2', 'citricAcid-toggle2');">White
                        <input id="white" class="form-check-input" name="wineType" type="radio" value="white">
                        </inputid>
                        <span class="checkmark"></span>
                    </label>
                    <div class="submit-button">
                        <button style="background-color: rgb(209, 85, 102); border: 0cm; width: 200px;" type="submit"
                            class="btn btn-primary">Submit Data</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
    </div>
    </div>

</body>

</html>